@import 'primereact/resources/themes/bootstrap4-dark-blue/theme.css';

html,
body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.AppNavbar {
    height: 100vh;
    display: flex;

    &-primary {
        width: 50px;
        background-color: var(--surface-50);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .app-icon {
            margin-bottom: 20px;
        }
    }
    &-secondary {
        width: 180px;
        background-color: var(--surface-100);
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}
